<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.d3ifcool.dosen">

    <application>

        <activity android:name=".views.activities.edits.DosenMonevUbahActivity" />
        <activity android:name=".views.activities.edits.DosenBimbinganUbahActivity" />
        <activity android:name=".views.activities.edits.DosenJudulPaSubdosenUbahActivity" />
        <activity android:name=".views.activities.edits.DosenProfilUbahActivity" />
        <activity android:name=".views.activities.edits.DosenInformasiUbahActivity" />
        <activity android:name=".views.activities.notifications.DosenPemberitahuanActivity" />
        <activity android:name=".views.activities.details.DosenMonevDetailActivity" />
        <activity android:name=".views.activities.details.DosenBimbinganDetailActivity" />
        <activity android:name=".views.activities.adds.DosenMonevTambahActivity" />
        <activity android:name=".views.activities.adds.DosenBimbinganTambahActivity" />
        <activity android:name=".views.activities.details.DosenJudulPaSubmahasiswaDetailActivity" />
        <activity android:name=".views.activities.details.DosenJudulPaSubdosenDetailActivity" />
        <activity android:name=".views.activities.adds.DosenJudulPaTambahActivity" />
        <activity android:name=".views.activities.adds.DosenInformasiTambahActivity" />
        <activity android:name=".views.activities.details.DosenInformasiDetailActivity" />
        <activity android:name=".views.activities.details.DosenMahasiswaSidangDetailActivity" />
        <activity android:name=".views.activities.details.DosenMahasiswaMonevDetailActivity" />
        <activity android:name=".views.activities.details.DosenMahasiswaBimbinganDetailActivity" />
        <activity android:name=".views.activities.profiles.DosenProfilActivity" />

    </application>

</manifest>
