<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.d3ifcool.koor">

    <application>
        <activity android:name=".activities.detail.KoorJadwalKegiatanDetailActivity"></activity>
        <activity android:name=".activities.editor.update.KoorJadwalKegiatanUbahActivity" />
        <activity android:name=".activities.editor.create.KoorJadwalKegiatanTambahActivity" />
        <activity android:name=".activities.KoorPemberitahuanActivity" />
        <activity android:name=".activities.KoorProfilActivity" />
        <activity android:name=".activities.editor.create.KoorMahasiswaTambahActivity" />
        <activity android:name=".activities.editor.create.KoorDosenTambahActivity" />
        <activity android:name=".activities.editor.create.KoorInformasiTambahActivity" />
        <activity android:name=".activities.editor.create.KoorJudulPaSubdosenTambahActivity" />
        <activity android:name=".activities.editor.update.KoorJudulPaSubdosenUbahActivity" />
        <activity android:name=".activities.editor.update.KoorProfilUbahActivity" />
        <activity android:name=".activities.editor.update.KoorInformasiUbahActivity" />
        <activity android:name=".activities.editor.update.KoorMahasiswaUbahActivity" />
        <activity android:name=".activities.editor.update.KoorDosenUbahActivity" />
        <activity android:name=".activities.detail.KoorJudulPaSubdosenDetailActivity" />
        <activity android:name=".activities.detail.KoorProyekAkhirDetailActivity" />
        <activity android:name=".activities.detail.KoorInformasiDetailActivity" />
        <activity android:name=".activities.detail.KoorMahasiswaDetailActivity" />
        <activity android:name=".activities.detail.KoorDosenDetailActivity" />
        <activity android:name=".activities.detail.KoorJudulPaArsipDetailActivity" />
        <activity android:name=".activities.detail.KoorPemetaanMonevDetailActivity" />
    </application>

</manifest>