<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.d3ifcool.mahasiswa">

    <application>
        <activity android:name=".activities.MahasiswaJudulPaPengajuanDosenTambahActivity"></activity>
        <activity android:name=".activities.MahasiswaMonevListDetail" />
        <activity android:name=".activities.MahasiswaBimbinganListDetail" />
        <activity android:name=".activities.MahasiswaInformasiDetailActivity" />
        <activity android:name=".activities.MahasiswaPaMonevDetailActivity" />
        <activity android:name=".activities.MahasiswaPaBimbinganDetailActivity" />
        <activity android:name=".activities.MahasiswaProfilActivity" />
        <activity android:name=".activities.MahasiswaPemberitahuanActivity" />
        <activity android:name=".activities.MahasiswaJudulPaPengajuanTambahActivity" />
        <activity android:name=".activities.MahasiswaJudulPaDosenDetailActivity" />
        <activity android:name=".activities.MahasiswaProfilUbahActivity" />
    </application>

</manifest>